@import "components/grids";
$ie: false;
$gel-padding: 4px;

$item-height: 250px;
$item-width: 232px;

$rolumns: 11;

body {
    font-family: 'Helvetica Neue'; // Alllllllllllll right!
    color: #666;
}

.header {
    h1 {
        margin: 0;
        height: 157px;
        line-height: 130px;
        font-size: 5em;
        background: #666;
        color: white;
        padding-left: $grid-gutter-width;
        margin: -$grid-gutter-width;
        margin-bottom: $grid-wide-gutter-width;
    }
}

input {
    padding: 4px 8px;
    margin-bottom: 20px;
}


.main {
    overflow: hidden;
    margin: 0 auto;
    @include bp(4) {
        width: 992px;
        overflow-x: scroll;
    }
}

.grid-container {
    clear: left;
    @include grid-container;

    @include bp(4) {
        width: ($rolumns - 1) * ($item-width + $grid-wide-gutter-width);
        height: $item-height * 2 + $grid-wide-gutter-width * 2;
    }
}

.grid-item {
    margin-bottom: $grid-gutter-width;
    @include bp-gte(2) {
        margin-bottom: $grid-wide-gutter-width;
    }
    &.double {
        clear: left;
        @include bp(4) {
            clear: none;
        }
        .content {
            a {
                height: 2*$item-height + $grid-wide-gutter-width;
                background: #66DD66;
                color: darken(#66DD66, 20%);
            }
            line-height: $item-height * 2;
        }
    }

    .content {
        a {
            height: $item-height;
            background: #BBB;
            display: block;
            color: #666;
            text-decoration: none;
            outline: none;
            font-weight: bold;

            -moz-transition: all 0.1s ease-out;
            -webkit-transition: all 0.1s ease-out;
            -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;

            &:hover, &:focus, &:active {
                background: #EEBBEE;
                color: darken(#EEBBEE, 20%);
            }
        }
        font-size: 4em;
        line-height: $item-height;
        text-align: center;
    }


}

@include bp-lte(2) {
    .odd {
        clear: left;
        @include grid-item-12-1;
    }

    .even {
        @include grid-item-12-13;
    }

    .before-duplicate {
        display: none;
    }
}

@include bp(3) {
    .left {
        @include grid-item-8-1;
        clear: left;
    }

    .middle {
        @include grid-item-8-9;
    }

    .right {
        @include grid-item-8-17;
    }

    .after-duplicate {
        display: none;
    }
}

@include bp(4) {
    .grid-item {
        float: left;
        width: 232px;
        margin-right: $gel-padding * 4;

        &.even {
            position: relative;
            margin-left: -232px - $gel-padding * 4;
            top: $item-height + $grid-wide-gutter-width;
        }
    }

    .before-duplicate {
        display: none;
    }
}

// .item-1 {
//     @include grid-item-12-1;
//     clear: left;

//     @include bp(3) {
//         clear: none;
//         @include grid-item-8-1;
//     }
// }
// .item-2 {
//     @include grid-item-12-13;

//     @include bp(3) {
//         @include grid-item-8-9;
//     }
// }
// .item-3 {
//     @include grid-item-12-1;
//     clear: left;

//     @include bp(3) {
//         clear: none;
//         @include grid-item-8-17;
//     }
// }
// .item-4 {
//     @include grid-item-12-13;

//     @include bp(3) {
//         clear: left;
//         @include grid-item-8-1;
//     }
// }
// .item-5 {
//     @include grid-item-12-1;
//     clear: left;

//     @include bp(3) {
//         clear: none;
//         @include grid-item-8-9;
//     }
// }
// .item-6 {
//     @include grid-item-12-13;

//     @include bp(3) {
//         @include grid-item-8-17;
//     }
// }
// .item-7 {
//     @include grid-item-12-1;
//     clear: left;

//     @include bp(3) {
//         @include grid-item-8-1;
//     }
// }
// .item-8 {
//     @include grid-item-12-13;

//     @include bp(3) {
//         @include grid-item-8-9;
//     }
// }
// .item-9 {
//     @include grid-item-12-1;
//     clear: left;

//     @include bp(3) {
//         clear: none;
//         @include grid-item-8-17;
//     }
// }
// .item-10 {
//     @include grid-item-12-13;

//     @include bp(3) {
//         clear: left;
//         @include grid-item-8-1;
//     }
// }
// .item-11 {
//     @include grid-item-12-1;
//     clear: left;

//     @include bp(3) {
//         clear: none;
//         @include grid-item-8-9;
//     }
// }
// .item-12 {
//     @include grid-item-12-13;

//     @include bp(3) {
//         @include grid-item-8-17;
//     }
// }
// .item-13 {
//     @include grid-item-12-1;
//     clear: left;

//     @include bp(3) {
//         @include grid-item-8-1;
//     }
// }
// .item-14 {
//     @include grid-item-12-13;

//     @include bp(3) {
//         @include grid-item-8-9;
//     }
// }
// .item-15 {
//     @include grid-item-12-1;
//     clear: left;

//     @include bp(3) {
//         clear: none;
//         @include grid-item-8-17;
//     }
// }
// .item-16 {
//     @include grid-item-12-13;

//     @include bp(3) {
//         @include grid-item-8-1;
//         clear: left;
//     }
// }
// .item-17 {
//     @include grid-item-12-1;
//     clear: left;

//     @include bp(3) {
//         clear: none;
//         @include grid-item-8-9;
//     }
// }
// .item-18 {
//     @include grid-item-12-13;

//     @include bp(3) {
//         @include grid-item-8-17;
//     }
// }
