@import "components/grids";
$ie: false;
$gel-padding: 4px;

$item-height: 250px;

body {
    font-family: 'Helvetica Neue'; // Alllllllllllll right!
    color: #666;
}

h1 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.main {
    overflow: hidden;
    margin: 0 auto;
    @include bp(4) {
        width: 992px;
        overflow-x: scroll;
    }
}

.info {
    ul {
        list-style: none;
        margin-top: 20px;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
            &.highlight {
                font-weight: bold;
            }
        }
    }
}

.grid-container {
    @include grid-container;

    @include bp(4) {
        width: 2232px;
        height: $item-height * 2 + $grid-wide-gutter-width * 2;
    }
}

.grid-item {
    margin-bottom: $grid-gutter-width;
    @include bp-gte(2) {
        margin-bottom: $grid-wide-gutter-width;
    }
    &.popular {
        .content {
            a {
                height: 2*$item-height + $grid-wide-gutter-width;
                background: #66DD66;
                color: darken(#66DD66, 20%);
            }
            line-height: $item-height * 2;
        }
    }
    .content {
        a {
            height: $item-height;
            background: #BBB;
            display: block;
            color: #666;
            text-decoration: none;
            outline: none;
            font-weight: bold;

            -moz-transition: all 0.1s ease-out;
            -webkit-transition: all 0.1s ease-out;
            -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;

            &:hover, &:focus, &:active {
                background: #EEBBEE;
                color: darken(#EEBBEE, 20%);
            }
        }
        font-size: 4em;
        line-height: $item-height;
        text-align: center;
    }

    @include bp-lte(2) {
        &:nth-child(2n+1) {@include grid-item-12-1; clear: left;}
        &:nth-child(2n+2) {@include grid-item-12-13;}
        &.popular {
            @include grid-item-24-1;
        }
        &.item-8 {
            display: none;
        }
    }

    @include bp(3) {
        &:nth-child(3n+1) {@include grid-item-8-1; clear: left;}
        &:nth-child(3n+2) {@include grid-item-8-9;}
        &:nth-child(3n+3) {@include grid-item-8-17;}

        &.popular {
            @include grid-item-24-1;
        }
        &.item-8, &.item-9 {
            display: none;
        }
    }

    @include bp(4) {
        float: left;
        width: 232px;
        margin-right: $gel-padding * 4;

        &.bottom {
            position: relative;
            margin-left: -232px - $gel-padding * 4;
            top: $item-height + $grid-wide-gutter-width;
        }

        &.item-8 {
            display: none;
        }
    }
}
