@import "components/grids";
$ie: false;
$gel-padding: 4px;

$item-height: 250px;
$item-width: 232px;

$rolumns: 12;

body {
    font-family: 'Helvetica Neue'; // Alllllllllllll right!
    color: #666;
}

.header {
    h1 {
        margin: 0;
        height: 157px;
        line-height: 130px;
        font-size: 5em;
        background: #666;
        color: white;
        padding-left: $grid-gutter-width;
        margin: -$grid-gutter-width;
        margin-bottom: $grid-wide-gutter-width;
    }
}

label {
    width: 120px;
    display: inline-block;
}

input {
    padding: 4px 8px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0
    }
}


.main {
    overflow: hidden;
    margin: 0 auto;
    margin-left: 240px;
    @include bp(4) {
        width: 992px;
        overflow-x: scroll;
    }
}

.grid-container {
    clear: left;
    @include grid-container;

    @include bp(4) {
        width: ($rolumns - 1) * ($item-width + $grid-wide-gutter-width);
        height: $item-height * 2 + $grid-wide-gutter-width * 2;
    }
}

.grid-item {
    margin-bottom: $grid-gutter-width;
    @include bp-gte(2) {
        margin-bottom: $grid-wide-gutter-width;
    }
    &.double {
        clear: left;
        @include bp(4) {
            clear: none;
        }
        .content {
            a {
                @include bp(4) {
                    height: 2*$item-height + $grid-wide-gutter-width;
                    line-height: $item-height * 2;
                }
                background: #66DD66;
                color: darken(#66DD66, 20%);
            }


        }

    }

    &.popular {
        .content {
            a {
                background: #6666DD;
                color: darken(#6666DD, 20%);
            }
        }
    }

    .content {
        a {
            height: $item-height;
            background: #BBB;
            display: block;
            color: #666;
            text-decoration: none;
            outline: none;
            font-weight: bold;

            -moz-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;

            &:hover, &:focus, &:active {
                background: #EEBBEE;
                color: darken(#EEBBEE, 20%);
            }
        }
        font-size: 4em;
        line-height: $item-height;
        text-align: center;
    }
}

.controls {
    float: left;
    position: fixed;
    background: #CCC;
    padding: 16px;
}

@include bp-lte(2) {
    .odd {
        clear: left;
        @include grid-item-12-1;
    }

    .even {
        @include grid-item-12-13;
    }

    .show-in-three {
        display: none;
    }
}

@include bp(3) {
    .left {
        @include grid-item-8-1;
        clear: left;
    }

    .middle {
        @include grid-item-8-9;
    }

    .right {
        @include grid-item-8-17;
    }

    .hide-in-three {
        display: none;
    }
}

@include bp(4) {
    .grid-item {
        float: left;
        width: 232px;
        margin-right: $gel-padding * 4;

        &.even {
            position: relative;
            margin-left: -232px - $gel-padding * 4;
            top: $item-height + $grid-wide-gutter-width;
        }
    }

    .show-in-three {
        display: none;
    }
}
