/**
 *  Generated grid mixins
 *  These can be generate by running the _grid.rb script
 **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000310}}
body {
  font-family: 'Helvetica Neue';
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000316}}
.header h1 {
  margin: 0;
  height: 157px;
  line-height: 130px;
  font-size: 5em;
  background: #666;
  color: white;
  padding-left: 8px;
  margin: -8px;
  margin-bottom: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000329}}
input {
  padding: 4px 8px;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000335}}
.main {
  overflow: hidden;
  margin: 0 auto;
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000335}}
  .main {
    width: 992px;
    overflow-x: scroll;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000344}}
.grid-container {
  clear: left;
  margin: 0 -4px;
}
@media only screen and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000344}}
  .grid-container {
    margin: 0 -8px;
  }
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000344}}
  .grid-container {
    width: 2480px;
    height: 532px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000354}}
.grid-item {
  margin-bottom: 8px;
}
@media only screen and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000354}}
  .grid-item {
    margin-bottom: 16px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000359}}
.grid-item.double {
  clear: left;
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000359}}
  .grid-item.double {
    clear: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000364}}
.grid-item.double .content {
  line-height: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000365}}
.grid-item.double .content a {
  height: 516px;
  background: #66DD66;
  color: #28b528;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000374}}
.grid-item .content {
  font-size: 4em;
  line-height: 250px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000375}}
.grid-item .content a {
  height: 250px;
  background: #BBB;
  display: block;
  color: #666;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000389}}
.grid-item .content a:hover, .grid-item .content a:focus, .grid-item .content a:active {
  background: #EEBBEE;
  color: #da69da;
}

@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003103}}
  .odd {
    clear: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 50.0%;
    margin-left: 0.0%;
    margin-right: -50.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003108}}
  .even {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 50.0%;
    margin-left: 50.0%;
    margin-right: -100.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003112}}
  .before-duplicate {
    display: none;
  }
}
@media only screen and (max-width: 599px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003103}}
  .odd {
    padding: 0 8px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003108}}
  .even {
    padding: 0 8px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1007px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003118}}
  .left {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 33.33333%;
    margin-left: 0.0%;
    margin-right: -33.33333%;
    float: left;
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003123}}
  .middle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66666%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003127}}
  .right {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003131}}
  .after-duplicate {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003118}}
  .left {
    padding: 0 8px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003123}}
  .middle {
    padding: 0 8px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003127}}
  .right {
    padding: 0 8px;
  }
}

@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003137}}
  .grid-item {
    float: left;
    width: 232px;
    margin-right: 16px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003142}}
  .grid-item.even {
    position: relative;
    margin-left: -248px;
    top: 266px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003149}}
  .before-duplicate {
    display: none;
  }
}
