/**
 *  Generated grid mixins
 *  These can be generate by running the _grid.rb script
 **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000310}}
body {
  font-family: 'Helvetica Neue';
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000316}}
.header h1 {
  margin: 0;
  height: 157px;
  line-height: 130px;
  font-size: 5em;
  background: #666;
  color: white;
  padding-left: 8px;
  margin: -8px;
  margin-bottom: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000329}}
label {
  width: 120px;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000334}}
input {
  padding: 4px 8px;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000337}}
input:last-child {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000343}}
.main {
  overflow: hidden;
  margin: 0 auto;
  margin-left: 240px;
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000343}}
  .main {
    width: 992px;
    overflow-x: scroll;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000353}}
.grid-container {
  clear: left;
  margin: 0 -4px;
}
@media only screen and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000353}}
  .grid-container {
    margin: 0 -8px;
  }
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000353}}
  .grid-container {
    width: 2728px;
    height: 532px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000363}}
.grid-item {
  margin-bottom: 8px;
}
@media only screen and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000363}}
  .grid-item {
    margin-bottom: 16px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000368}}
.grid-item.double {
  clear: left;
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000368}}
  .grid-item.double {
    clear: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000374}}
.grid-item.double .content a {
  background: #66DD66;
  color: #28b528;
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000374}}
  .grid-item.double .content a {
    height: 516px;
    line-height: 500px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000390}}
.grid-item.popular .content a {
  background: #6666DD;
  color: #2828b5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000397}}
.grid-item .content {
  font-size: 4em;
  line-height: 250px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\0000398}}
.grid-item .content a {
  height: 250px;
  background: #BBB;
  display: block;
  color: #666;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003112}}
.grid-item .content a:hover, .grid-item .content a:focus, .grid-item .content a:active {
  background: #EEBBEE;
  color: #da69da;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003123}}
.controls {
  float: left;
  position: fixed;
  background: #CCC;
  padding: 16px;
}

@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003131}}
  .odd {
    clear: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 50.0%;
    margin-left: 0.0%;
    margin-right: -50.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003136}}
  .even {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 50.0%;
    margin-left: 50.0%;
    margin-right: -100.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003140}}
  .show-in-three {
    display: none;
  }
}
@media only screen and (max-width: 599px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003131}}
  .odd {
    padding: 0 8px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003136}}
  .even {
    padding: 0 8px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1007px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003146}}
  .left {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 33.33333%;
    margin-left: 0.0%;
    margin-right: -33.33333%;
    float: left;
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003151}}
  .middle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66666%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003155}}
  .right {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003159}}
  .hide-in-three {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003146}}
  .left {
    padding: 0 8px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003151}}
  .middle {
    padding: 0 8px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003155}}
  .right {
    padding: 0 8px;
  }
}

@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003165}}
  .grid-item {
    float: left;
    width: 232px;
    margin-right: 16px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003170}}
  .grid-item.even {
    position: relative;
    margin-left: -248px;
    top: 266px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/rolumnz\/sass\/default\.scss}line{font-family:\00003177}}
  .show-in-three {
    display: none;
  }
}
