/**
 *  Generated grid mixins
 *  These can be generate by running the _grid.rb script
 **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\000037}}
body {
  font-family: 'Helvetica Neue';
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000312}}
h1 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000317}}
.main {
  overflow: hidden;
  margin: 0 auto;
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000317}}
  .main {
    width: 992px;
    overflow-x: scroll;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000326}}
.grid-container {
  margin: 0 -4px;
}
@media only screen and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000326}}
  .grid-container {
    margin: 0 -8px;
  }
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000326}}
  .grid-container {
    width: 2232px;
    height: 532px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000335}}
.grid-item {
  margin-bottom: 8px;
}
@media only screen and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000335}}
  .grid-item {
    margin-bottom: 16px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000341}}
.grid-item.popular .content {
  line-height: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000342}}
.grid-item.popular .content a {
  height: 516px;
  background: #66DD66;
  color: #28b528;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000350}}
.grid-item .content {
  font-size: 4em;
  line-height: 250px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000351}}
.grid-item .content a {
  height: 250px;
  background: #BBB;
  display: block;
  color: #666;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000365}}
.grid-item .content a:hover, .grid-item .content a:focus, .grid-item .content a:active {
  background: #EEBBEE;
  color: #da69da;
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000376}}
  .grid-item:nth-child(2n+1) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 50.0%;
    margin-left: 0.0%;
    margin-right: -50.0%;
    float: left;
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000377}}
  .grid-item:nth-child(2n+2) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 50.0%;
    margin-left: 50.0%;
    margin-right: -100.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000378}}
  .grid-item.popular {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 100.0%;
    margin-left: 0.0%;
    margin-right: -100.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000381}}
  .grid-item.item-8 {
    display: none;
  }
}
@media only screen and (max-width: 599px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000376}}
  .grid-item:nth-child(2n+1) {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 599px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000377}}
  .grid-item:nth-child(2n+2) {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 599px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000378}}
  .grid-item.popular {
    padding: 0 8px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1007px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000387}}
  .grid-item:nth-child(3n+1) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 33.33333%;
    margin-left: 0.0%;
    margin-right: -33.33333%;
    float: left;
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000388}}
  .grid-item:nth-child(3n+2) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66666%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000389}}
  .grid-item:nth-child(3n+3) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000391}}
  .grid-item.popular {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 4px;
    width: 100.0%;
    margin-left: 0.0%;
    margin-right: -100.0%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000394}}
  .grid-item.item-8, .grid-item.item-9 {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000387}}
  .grid-item:nth-child(3n+1) {
    padding: 0 8px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000388}}
  .grid-item:nth-child(3n+2) {
    padding: 0 8px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000389}}
  .grid-item:nth-child(3n+3) {
    padding: 0 8px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1007px) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000391}}
  .grid-item.popular {
    padding: 0 8px;
  }
}
@media only screen and (min-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\0000335}}
  .grid-item {
    float: left;
    width: 232px;
    margin-right: 16px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003104}}
  .grid-item.bottom {
    position: relative;
    margin-left: -248px;
    top: 266px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/willim83\/dev\/scratch\/gridz\/sass\/default\.scss}line{font-family:\00003110}}
  .grid-item.item-8 {
    display: none;
  }
}
